@tailwind base;
@tailwind components;
@tailwind utilities;

.headerMenuItem {
    padding: 16px 0;
    position: relative;
}

.headerMenuItem::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 1px;
    width: 0;
    background-color: black;
    transition: all 700ms;
}

.headerMenuItem:hover::after {
    width: 100%;
}

.splide {
    padding: 0 !important;
    padding-bottom: 50px !important;
}

.splide__pagination__page {
    width: 70px !important;
    height: 3px !important;
}

.splide__pagination__page:hover {
    background: black !important;
}

.splide__pagination__page.is-active {
    background: black !important;
}

.splide__pagination__page:focus {
    outline: 0px solid black !important;
    outline-offset: 0px !important;
}

.footer {
    grid-template-columns: 1fr 1.7fr 1.7fr 1fr;
}

.splide.is-focus-in .splide__slide:focus {
    outline: none !important;
}

.splide__slide:focus-visible {
    outline: none !important;
}
